<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Minicore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/trabajadores}">Ver Trabajadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/proyectos}">Ver Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tareas}">Ver Tareas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center mt-5">
    <h1 class="display-4 fw-bold">¡Bienvenido al Minicore!</h1>
    <h2 class="mb-4 text-muted">Gestión de tareas</h2>
    <h2 class="mb-4 text-muted">Hecho por Milton Dávila</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIxV4CHZh8ZV44O5maRb5Vv8rYnYCeLPPhag&s"
         alt="Perrito simpático" class="img-fluid rounded shadow-lg">
</div>

</body>
</html>
